################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/build/x64-Debug
/CMakeSettings.json
build/
wave_sim_result.csv
output.png
